<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container col-12 m-0 p-0">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Content/Images/1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/Images/2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/Images/3.jpg" alt="Third slide">
                </div>
            </div>
        </div>
        <nav id ="navigator" class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">DOĞAN HUKUK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">ANA SAYFA <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">HAKKIMIZDA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GENEL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">AVUKATLARIMIZ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">İLETİŞİM</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="body" class="container body-content col-12">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(window).ready(function () {
            $(window).scroll(function (event) {
                var offset = $("#body").offset().top;
                if (offset <= $(window).scrollTop() ) {
                    $("#navigator").addClass('fixed-top');
                }
                else
                    $("#navigator").removeClass('fixed-top');

            });
                
        });
    </script>
</body>
</html>
